@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css2?family=Oswald);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 body { 
  justify-content: center;
  align-items: center;
} 
.nav-border{
   border-top-right-radius: 50px; 

}


.form-container {
  width: 400px;
  background-color:black;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  justify-content: center;
  align-items: center;
  
}
.white-text{
  color:white;
}

.form-layout {
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 300px;
  display: flex;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  

}

#error {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgb(253, 96, 96);
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

input {
  background: #f2f2f2;
}

.align{
  text-align: center;
}
#btn{
  background:#ffa400; 
  color:white;
}
.navbar-logo{
  width:30px;
}

:root{
  --main:#FA7E55;
  --lightGreen:#90ee90;
  --mainBlue: #00008B;
  --lightBlue:#ADD8E6;
  --mainYellow:#ffa400;
  --ligthGray:#F1f5f8;
  --mainDark:#232528;

}
body{
  background:var(--ligthGray) !important;  

}
.text-title{
  font-family:'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
}
.text-brand{
  font-family:'Permanent Marker', cursive;
  color:var(--mainYellow) !important;
}

.text-yellow{
  color:var(--main)
}

.btn-black{
  background: transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark)!important;
  color:white !important;
}
.cart-icon{
  cursor: pointer;
  font-size:1.2rem;
  color:var(--mainYellow);
}
#cartTotal{
  display:flex;
  flex-direction: column;
  align-items:flex-end;
}
