.main_content{
    
    margin: 0;
    display:flex;
    justify-content: space-around;
    box-sizing: border-box; 
    flex-wrap: wrap;
    border-radius: 5px;
   
    

}
.card{
    width:310px;
    height: 372px;
    border:1px;
    border-radius: 5px;
    overflow: hidden;
    margin:40px 20px;

    
}
 .card-img-top{
     width:100%;
    max-width: 300px;
  min-height: 200px; 
    display: block; 
 object-fit: cover;  
} 
.card-footer{
     margin: 20px px;
}
.cart-btn{
    border-bottom-right-radius: 15px;
    width:50px;
    height: 28px;
    border:none;
    outline:none;
    background-color: beige;
    color:rgb(21, 6, 159);
    font-weight: 500;
    font-size: 21px;
    margin-left: 0px;
    /* padding-right: 5px; */
    /* display: flex; */
    /* justify-content: right; */
     display: block;
    cursor: pointer;

    
}
 .product-price{ 
 /*  margin:10px 0px;
 padding-bottom: 20px; 
  font-size: 18px;
    line-height: 30px; */
}